
body { 
	color: #A3D9D8; 
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
	background: #292929; 
	margin: 0;
	padding: 0;
}

a:link, a:visited {
	color: #B7EDDB;
}

a:hover, a:active {
	color: #C4FFDD;
}

#container {
	width: 100%;
	margin: 0 auto;
}

#pixel {
	width: 100%;
	height: 320px;
	display: block;
	background-color: #A3D9D8;
	border: none;
	/*-webkit-transition: 0.3s background-color linear;*/
	transform: translate(0,0);
}

#info {
	text-indent: 12px;
}

@media only screen and (min-width : 768px) {
	#container {
		max-width: 600px;
	}
	#pixel {
		border: 12px solid #403D36;
		margin: 12px auto;
	}
	#info {
		text-indent: 0px;
	}
}