hr
footer
	p 
		| 2013 Florian Brueckner //  
		a(href="http://twitter.com/bloomignbridges", title="Follow me on twitter")@bloomingbridges
		|  // 
		a(href="http://bloomingbridges.co.uk", title="WWW") bloomingbridges.co.uk
		|  //    
		a(href="http://www.digitalartandtechnology.co.uk", title="Digital Art & Technology Course Website") DA&amp;T
		|  // 
		a(href="plymouth.ac.uk", title="Plymouth University") Plymouth Uni