h1 IN//CUBUS
p 
	em IN//CUBUS is a social experiment with the aim to foster collaboration between strangers in a physical space and to combat the dwindling attention span of long-time internet users.
p This app represents the public interface to a physical cubic sculpture. It allows users to capture its digital transmissions, however, every user only ever gets to see one part of the streamed image. 2500 devices are needed to decode the cube's emissions fully.
p To see IN//CUBUS in action, come down to the Plymouth University (UK) Graduate Showcase anytime within the two weeks starting on June 14th 2013.

h2 Acknowledgements
p This app is hosted with 
	a(href="modulus.io", title="Modulus") Modulus
	| , whom I can thoroughly recommend. Thanks to Stavros Didakis for guiding me through this process and thanks to all who have supported me along the way. Je vous embrasse!
p Also a very special thank you to Tim Berners-Lee, Linus Torvalds and Theo Watson, for providing us with these fantastic technologies.
p And finally, Plymouth University. For.. making me do it.

h3 Privacy etc.
p IN//CUBUS doesn't require any confidential data or authorisation from you, only your participation, may that be in person or in form of an online presence.
