doctype5
html(class='no-js')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale = 1, maximum-scale = 1')
    meta(name='apple-mobile-web-app-capable', content="yes")
    title #{title}
    link(rel='stylesheet', href='/css/style.css')
    link(rel="apple-touch-icon-precomposed", href="apple-touch-icon-57x57-precomposed.png")
    link(rel="apple-touch-startup-image", href="apple-touch-startup-image-320x460.png")
    script
      port = #{port};
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(src="/js/modernizr.min.js")
  body
    #container
      #pixel
      #help
        h1 IN//CUBUS
        p This is some information on the project. Embrace the pixel!
      #info
        p Unfortunately it looks like your device is unsuitable for our purpose. If you're on Anroid, try using  
          a(href="https://play.google.com/store/apps/details?id=com.android.chrome&hl=en") Chrome
    script(src="/js/client.js")