h1 IN//CUBUS
p 
	em IN//CUBUS is a social experiment with the aim to foster collaboration between strangers in a physical space and to combat the dwindling attention span of long-time internet users.
p Please log into your facebook account or, alternatively,  
	a(href="https://incubus-7783.onmodulus.net", target="_top", title="The anonymous route") click here